.idea

client/node_modules
client/npm-debug.log
client/build
client/assets/scripts/bundle.js
client/assets/styles/bundle.css
client/assets/styles/bundle.css.map
client/package-lock.json

server/obj/project.assets.json
server/obj/server.csproj.nuget.cache
server/obj/server.csproj.nuget.g.props
server/obj/Debug/netcoreapp2.1/project.razor.json
server/obj/Debug/netcoreapp2.1/server.assets.cache
server/obj/Debug/netcoreapp2.1/server.csproj.CoreCompileInputs.cache
server/obj/Debug/netcoreapp2.1/server.csprojAssemblyReference.cache
