#welcome-card {
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(226, 185, 19);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 2;

  #headline {
    color: #333;
    margin-bottom: 100px;
    font-size: 4.5rem;
  }

  #inputs {
    background-color: rgba(200, 200, 200, .5);
    padding: 24px;
    border-radius: 8px;

    input[type=text], button {
      display: block;
      border: none;
      outline: 0 none;
      background: transparent;
    }

    input[type=text] {
      padding: 8px 0 4px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #fff;
      font-size: 1.15rem;
    }

    #start {
      background-color: firebrick;
      width: 100%;
      color: #eee;
      padding: 8px 16px;
      border-radius: 4px;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }

  #admin-badge {
    position: absolute;
    top: 0;
    right: 0;
    background: firebrick;
    color: #eee;
    padding: 16px 128px;
    font-size: 1.7rem;
    transform: rotate(45deg) translate(95px, -50px);
  }

  #connected-players {
    color: black;
    font-size: 1.4rem;
    padding: 1rem;
    max-height: 30vh;
    overflow-y: auto;

    & ul {
      list-style-type: none;

      & li {
        padding: .5rem;
        text-align: center;
        background-color: rgba(20, 20, 20, .4);
        margin-bottom: 4px;
        color: #ccc;
      }
    }

    & p {
      margin-top: .7rem;

      &:not(.hidden)::before {
        content: '';
        display: inline-block;
        height: .9rem;
        width: .9rem;
        border: 1px solid firebrick;
        border-right-color: transparent;
        border-left-color: transparent;
        border-radius: 50%;
        animation: spin 1s linear 0s infinite forwards;
        margin-right: 1rem;
      }
    }
  }
  
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
