#game {
  background-color: #444;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;

  & #remaining-time {
    float: right;
    color: rgb(226, 185, 19);
    padding: 4px 8px;
    font-size: 1.5rem;
  }

  & #player-boards-wrapper {
    height: calc(100% - 2rem);
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    & #remote-player-board-wrapper {
      max-height: 100%;
      display: flex;
      flex-grow: 1;
    }

    & #remote-player-board-wrapper #remote-boards,
    & #local-player-board-wrapper {
      padding: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & #local-player-board-wrapper {
      flex-shrink: 0;
      flex-grow: 0;
    }

    & #remote-player-board-wrapper #remote-boards {
      flex-grow: 1;
      flex-wrap: wrap;

      & .board-wrapper {
        & .score {
          color: #ddd;
        }
      }

      &[data-nr-of-players=v_1] {
        & .board .tile {
          width: 80px;
          height: 80px;
        }
      }
      &[data-nr-of-players=v_2] {
        & .board .tile {
          width: 60px;
          height: 60px;
        }
      }
      &[data-nr-of-players=v_3],
      &[data-nr-of-players=v_4],
      &[data-nr-of-players=v_5],
      &[data-nr-of-players=v_6] {
        & .board .tile {
          width: 40px;
          height: 40px;
        }
      }
    }

    & #remote-player-board-wrapper #remaining-players {
      height: 100%;
      overflow: hidden;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      & .player-card {
        width: 300px;
        margin-bottom: .25rem;
        color: #ccc;
        background-color: rgba(20, 20, 20, .7);
      }
    }
  }
}
